
#about-profile-picture{
    max-width: calc(50%);
    height: 100%;
    border-radius: 20px;
}
  
/* since polaroids are no longer in this div */
#hobbies{
  max-width: calc(50% - 48px);
}

#hobbies ul{
    list-style-type: none;
}

#content-wrapper{
    overflow: visible;
    overflow-x: hidden;
    overflow-y: inherit;
}

body{
    overflow-x: hidden;
}

footer ul{
        z-index: 5;

}

footer #footer-content{
    max-width: 1200px !important;
}


#heading-wrapper, #experience-values, #hobbies-polaroids{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    flex-direction: row;
    /* border: solid 2px red;
    box-sizing: border-box; */
    width: 100%;
}

#hobbies-polaroids{
    align-items: start;
}

#experience-values{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 48px;
    width: 100%;
}

#experience{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: calc(50% - 48px);
}


#experience > .job-title a{
    text-decoration: none;
}

#values{
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: calc(50% - 48px);
}

#values-wrapper{
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
}



#experience-values #experience .job-title {
    /* margin: 24px 0px 0px 0px; */
    gap: 16px;

}


#experience-values #experience .job-title .company-name {
    color: #18A0FB;
}

#hobbies a, #heading a, a:visited{
    color: #18A0FB;
}


/* Hobbies and Polaroids */
#hobbies-polaroids {
    /* width: 100%; */
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    align-items: start;

    /* border: solid 2px purple;
    box-sizing: border-box; */
}


/* Heading, Values, Experience, Hobbies */

#heading{
    max-width: calc(50% - 48px);
    display: flex;
    flex-direction: column;
    gap: 16px;
}

 #values{
    z-index: 2;
    max-width: 50%;
    /* max-width: 480px; */
    /* max-width: 50%; */
}

/* Hobbies */
#hobbies{
    z-index: 3;
}

/* Polaroids */
#polaroids{
    position: relative;
    height: auto;
    margin-top: -10%;
    /* max-height: 400px; */
    /* border: solid 2px red; */
    max-width: calc(50%);
    width: 100%;
    
}

 #polaroids img{
    /* max-width: 40%; */
    /* z-index: 0; */
    /* position: absolute; */
    /* right: -10%; */
    top: -50%;
    /* left: -50px; */
    max-width: 100%;
    /* border: solid 2px red; */
    /* box-sizing: border-box;  */
}


@media screen and (max-width: 768px) {
    #heading-wrapper > #heading{
        width: 100%;
    }

    #about-profile-picture{
        /* width: 100%; */
        width: auto;
        height: auto;
    }

  #heading-wrapper, #experience-values, #hobbies-polaroids{
        flex-direction: column;
        border: none;
    }


    #heading, #about-profile-picture, #values, #experience, #hobbies{
      border: none;
      width: auto;
      max-width: 100%;
        width: 100%;
    }
   

  #polaroids img{
    /* display: none; */
    position: relative;
    /* right: -10%; */
    top: 0px;
    left: 0px;
    max-width: 100%;
  }

  #polaroids{
        margin-top: 0%;
        max-width: 100%;

  }

  #hobbies-polaroids{
    /* position: absolute; */
    gap: 0px;
  }
}
