#experience > .job-title a{
    text-decoration: none;
}


#heading{
    max-width: calc(50% - 48px);
}

#about-profile-picture{
    max-width: calc(50%);
    height: 100%;
    border-radius: 20px;
}
  
/* since polaroids are no longer in this div */
#hobbies{
  max-width: calc(50% - 48px);}

#hobbies ul{
    list-style-type: none;
}

#content-wrapper{
    overflow: visible;
}
body{
    overflow-x: hidden;
}

#heading-wrapper, #experience-values, #hobbies-polaroids{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    flex-direction: row;
    /* border: solid 2px red;
    box-sizing: border-box; */
    width: 100%;
}



#experience-values{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 48px;
    width: 100%;
}

#experience{
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
    max-width: calc(50% - 48px);
}

#values{
    max-width: calc(50% - 48px);
}

#values-wrapper{
    display: flex;
    flex-direction: column;
    /* gap: 16px; */
}



#experience-values #experience .job-title {
    /* margin: 24px 0px 0px 0px; */
    gap: 16px;

}


#experience-values #experience .job-title .company-name {
    color: #18A0FB;
}

#hobbies a, #heading a, a:visited{
    color: #18A0FB;
}


#hobbies-polaroids #hobbies ul li{
    margin: 24px 0;   
}

/* Hobbies and Polaroids */
#hobbies-polaroids {
    /* width: 100%; */
    position: relative;

    /* border: solid 2px purple;
    box-sizing: border-box; */
}


/* Heading, Values, Experience, Hobbies */

#heading{
    /* max-width: 40%; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

 #values{
    z-index: 3;
    max-width: 50%;
    /* max-width: 480px; */
    /* max-width: 50%; */
}

/* Hobbies */
#hobbies{
    z-index: 3;
}

/* Polaroids */
 #polaroids img{
    z-index: 2;
    position: absolute;
    right: -10%;
    top: -320px;
    max-width: 65%;
    /* border: solid 2px red;
    box-sizing: border-box;  */
}


@media screen and (max-width: 768px) {
    #heading-wrapper > #heading{
        width: 100%;
    }

    #about-profile-picture{
        /* width: 100%; */
        width: auto;
        height: auto;
    }

  #heading-wrapper, #experience-values, #hobbies-polaroids{
        flex-direction: column;
        border: none;
    }


    #heading, #about-profile-picture, #values, #experience, #hobbies{
      border: none;
      width: auto;
      max-width: 100%;
        width: 100%;
    }
   

  #polaroids img{
    /* display: none; */
    position: relative;
    top: 0px;
    bottom: 0px;
    right: 0px;
    max-width: 100%;
  }

  #hobbies-polaroids{
    /* position: absolute; */
    gap: 0px;
  }
}
