@font-face {
    font-family: CircularStd-Book;
    src: url(fonts/CircularStd-Book.ttf);
}

@font-face {
    font-family: CircularStd-Bold;
    src: url(fonts/CircularStd-Bold.ttf);
}

html{
    overflow-x: initial !important;
}
  
body{
    background-color: white;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.content-wrapper img {
    cursor: -moz-zoom-in; 
    cursor: -webkit-zoom-in; 
    cursor: zoom-in;
}

body > div{
    overflow-x: hidden;
}

.content-wrapper {
    overflow-y: hidden;
}

.content-wrapper > section{
    overflow-y: hidden;
}

section{
    max-width: 100%;
    width: 800px;
    /* width: 100%; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items:baseline;
    flex-direction: column;
}


/* section > div{
    margin: 25px 0px;
} */

 section > div:last-of-type{
    margin: 0px;
}

h1{
    font-size: 64px;
}


h1, h2, h3, h4{
    font-family: CircularStd-Bold;
}

h2{
    font-size: 36px;
    line-height: 0px;
}

h3{
    font-size: 20px;
    line-height: 28px;
}

p{
    font-size: 16px;
    line-height: 28px;
    /* margin: 10px 0px; */
}

a{
    text-decoration: none;
    color: #0000;
}

a:visited{
    color: #0000;
}

img{
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

/* #project-details{
    margin-top: 20px;
    width: 100%;
} */

#project-details div{
    margin-bottom: 50px;
}

#project-details div:last-of-type {
    margin-bottom: 0px;
}

#project-preview {
    display: flex;
    align-items: center;
    max-height: 800px;
    width: auto;
}

video{
    /* max-height: 1000px;
    height: 100%; */

    max-width: 100%;
    height: auto;
}

.video-wrapper{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.content-wrapper{
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;

    /* border: solid 2px red;
    box-sizing: border-box; */
}

.side-by-side{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto 0;
    width: 100%;

    /* border: solid 2px orange;
    box-sizing: border-box; */
}

.side-by-side > .left{
    /* border: solid 2px blue; */
    width: 387.5px;
    max-height: 100vh;
}

.side-by-side > .right{
    /* border: solid 2px red; */
    width: 387.5px;
    max-height: 100vh;
}

.side-by-side > .right > video, 
.side-by-side > .left > video {
    display: block;
    margin: auto;
}

.banner{    
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Not 1080px becuase theres 40px loss due to space-around to make it responsive */
    /* max-width: 1040px; */
}

.callout{
    font-size: 24px;
    color: #FFFFFF;
    background-color: #0000;
    box-sizing: border-box;
    padding: 40px;
}

.section-image{
    background-color: #F1F3F4;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-image video{
    max-height: 90vh;
}


#title{  
    /* remove this line for the right-side circle to overflow */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 90px);
    width: 100%;
    
    overflow-y: hidden;
}


#title-content-wrapper{
    margin:  0px 150px;
    /* width: 100%; */
    /* max-width: 1080px; */
    /* margin: 0px, 150px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#title h1{
    margin-top: 18px;
    margin-bottom: 18px;
}

#title-content{
    z-index: 3;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin: 50px 0px;
    /* Responsive title text */
    /* width: 50%; */
    /* max-width: 450px; */
}


#title-image{
    z-index: 2;
    width: 45%;
    height: auto;
    /* max-width: 100%; */
    /* max-height: 60vh; */
}

/* Circles */
.circle{
    position: absolute;
    border-radius: 50%;
    background: #0000;
    box-shadow: 0px 0px 100px #0000;
}

#big-circle{
    margin: auto;
    right: -1000px;
    width: 1568px;
    height: 1568px;
}

#top-left-circle{
    width: 369px;
    height: 369px;
    left: -150px;
    top: -150px;
}

/* CTA Button */
#button{
    font-family: CircularStd-Book;
    margin-top: 18px;
    background-color: black;
    padding: 20px;
    color: white;
    width: 250px;
    text-align: center;
    text-decoration: none;
    border: solid 2px black;
    box-sizing: border-box;
    transition: 0.3s;
}

#button:hover{
    background-color: white;
    color: black;
}

.on-top{
    flex-direction: column;
}


#fullscreen{
    position: fixed; 
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
   
    display: flex;
    align-items: center;
    visibility: hidden;
    opacity: 0;
   
    transition: opacity ease 0.4s;
}
   
#fullscreen.show{
    visibility: visible;
    opacity: 1;
}

#fullscreen img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 90%;
    width: auto;
    /* width: auto; */
}



@media only screen and (max-width: 1024px) {
    
    #title-content-wrapper{
        gap: 50px;
    }
    
    /* body, html{
        width:100%;
        overflow-x: hidden;
        scrollbar-width: none;
    } */
}

/* Sorcery that makes 100% of the screen size on ALL window sizes */
/* HEIGHT is less than 900 */
/* @media only screen and (max-height: 900px) {
    #title{
        height: calc(100vh - 90px);
    }
} */

/* WIDTH is less than 900 */
@media only screen and (max-width: 834px) {
    #big-circle, #top-left-circle{
        display: none;
    }

    #title-content-wrapper{
        margin: 0px 50px;
        flex-direction: column;
    }

    #title{
        height: 100%;
    }

    #title-image {
        display: none;
        width: 100%;
    }

    .content-wrapper{
        margin: 0px 50px;
    }

    h2{
        line-height: normal;
        margin: 0px;
    }

    section{
        flex-direction: column;
    }
    
    #title-content h1{
        font-size: 48px;
    }

    .callout{
        font-size: 18px;
    }
    

    img{
        width: 100%;
    }

    .side-by-side{
        flex-direction: column;
        gap: 25px;
    }

    .side-by-side > .left,
    .side-by-side > .right{
        width: 100%;
    }

    .reverse{
        flex-direction: column-reverse;
    }
}

/* Phones */
@media only screen and (max-width: 500px) {
    #title-content-wrapper{
        margin: 0px 20px;
    }


    .content-wrapper{
        margin: 0px 20px;
    }
    
    .section-image{
        margin-bottom: 50px;
    }
}