@font-face {
    font-family: CircularStd-Book;
    src: url(fonts/CircularStd-Book.ttf);
}

@font-face {
    font-family: CircularStd-Bold;
    src: url(fonts/CircularStd-Bold.ttf);
}

html{
    overflow-x: initial !important;
}
  
body{
    background-color: white;
    margin: auto;
    font-family: 'Poppins', sans-serif;

}

body > div{
    overflow-x: hidden;
}

.content-wrapper {
    overflow-y: hidden;
}

.content-wrapper > section{
    overflow-y: hidden;
}

section{
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h1{
    font-size: 64px;
}


h1, h2, h3{
    font-family: CircularStd-Bold;
    
}

p{
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #0000;
}

a:visited{
    color: #0000;
}

img{
    max-width: 100%;
    height: auto;
}

#project-preview {
    display: flex;
    align-items: center;
    max-height: 800px;
    width: auto;
}

video{
    /* max-height: 1000px;
    height: 100%; */

    max-width: 100%;
    height: auto;
}

.video-wrapper{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.content-wrapper{
    margin-top: 100px;
    margin-bottom: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;

    /* border: solid 2px red;
    box-sizing: border-box; */
}

.right div img {
    /* border: solid 2px red; */
    /* padding: 20px; */
    background-color: #F1F3F4;

    /* when 900px use 670px, for 1080px wide, use 725 */
    /* max-width: 670px; */
    /* max-width: 725px; */
}

.left{
    margin-right: 30px;
    width: 300px;
}

.right{
    /* width: 670px; */

    /* when 900px use 670px, for 1080px wide, use 810 */
    width: 700px;
} 

.right > .left{
    width: 100%;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.right > div:not(:last-child){
    margin-bottom: 100px;
}

.banner{    
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    /* Not 1080px becuase theres 40px loss due to space-around to make it responsive */
    max-width: 1040px;
}

.callout{
    font-size: 24px;
    color: #FFFFFF;
    background-color: #0000;
    box-sizing: border-box;
    padding: 40px;
}

.section-image{
    background-color: #F1F3F4;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title{  
    /* remove this line for the right-side circle to overflow */
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: calc(100vh - 90px);
    width: 100%;
    
    overflow-y: hidden;
}


#title-content-wrapper{
    max-width: 1080px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#title h1{
    margin-top: 18px;
    margin-bottom: 18px;
}

#title-content{
    z-index: 3;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* Responsive title text */
    width: 100%;
    max-width: 450px;
}

#title-details{
    /* Hack to prevent it from being in middle in mobile */
    width: 480px;

    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}

#title-image{
    z-index: 2;
    max-width: 50%;
}

/* Circles */
.circle{
    position: absolute;
    border-radius: 50%;
    background: #0000;
    box-shadow: 0px 0px 100px #0000;
}

#big-circle{
    margin: auto;
    right: -700px;
    width: 1568px;
    height: 1568px;
}

#top-left-circle{
    width: 369px;
    height: 369px;
    left: -150px;
    top: -150px;
}

/* CTA Button */
#button{
    font-family: CircularStd-Book;
    margin-top: 18px;
    background-color: black;
    padding: 20px;
    color: white;
    width: 250px;
    text-align: center;
    text-decoration: none;
    border: solid 2px black;
    box-sizing: border-box;
    transition: 0.3s;
}

#button:hover{
    background-color: white;
    color: black;
}

.on-top{
    flex-direction: column;
}


@media only screen and (max-width: 1440px) {

    #big-circle{
        right:-1000px;
    }


    /* #project-preview{ */
        /* max-height: 40%; */
        /* width: 100%; */
    /* } */

    #title-content-wrapper{
        gap: 50px;
    }
    
    /* body, html{
        width:100%;
        overflow-x: hidden;
        scrollbar-width: none;
    } */
}

/* Sorcery that makes 100% of the screen size on ALL window sizes */
/* HEIGHT is less than 900 */
/* @media only screen and (max-height: 900px) {
    #title{
        height: calc(100vh - 90px);
    }
} */

/* WIDTH is less than 900 */
@media only screen and (max-width: 1030px) {


    #big-circle{
        display: none;
    }

    #title{
        height: 100%;
        margin-bottom: 200px;
    }

    #title-content-wrapper{
        flex-direction: column;
    }

    #title-image {
        margin-top: 100px;
        /* display: none; */
        max-width: 460px;
        width: 100%;
    }

    .section-image{
        /* display: none; */
        height: 60vh;
    }

    section{
        flex-direction: column;
        /* margin-left: auto;
        margin-right: auto; */
        margin: 0px 50px;
    }

    .right{
        max-width: 480px;
        width: 100%;
    }

    /* .left{
        margin-right: 0px;
    } */

    img{
        width: 100%;
    }
}

/* Phones */
@media only screen and (max-width: 420px) {
    #title{
        margin-bottom: 10%;
    }

    #title img{
        max-width: 300px;
    }
    
    #title-content{
        margin:auto;
        max-width: 300px;
        height: 100%;
    }



    #title-content h1{
        margin-top: 45%;
        font-size: 48px;
    }

    .callout{
        font-size: 18px;
    }
    .content-wrapper{
        width: 100%;
    }

    .right{
        width: 300px;
        margin: auto;
    }

    .left{
        width: 300px;
        margin: auto;
    }

    section{
        max-width: 480px;
        width: 100%;
    }

    .section-image{
        margin-bottom: 50px;
    }
}