a{
    text-decoration: none;
    color: #7988FD;
}

a:visited{
    color: #7988FD;
}

.callout{
    background-color: #7988FD;
}

/* Circles */
.circle{
    background: #E63939;
    box-shadow: 0px 0px 100px #E63939;
}

/* Sets the COVID Test image larger to fill the title screen ~100vh */
#title-image {
    padding: 100px 0;
    /* border: solid 2px orange; */
}