@font-face {
  font-family: 'circular';
  src: url('circular.ttf');
}

* {
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: Arial;
}

nav {
  top:0;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 50px;
  background-color: #181818;
  opacity: .9;
  font-family: circular;
  color: white;
}

nav #nav-header {
  display: inline;
}

nav #nav-header #name {
  display: inline-block;
  font-size: 22px;
  color: white;
  padding: 10px;
}
nav #nav-header #name a{
  color: white;
  text-decoration: none;
}

nav #nav-button {
  display: none;
}

nav .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

nav .nav-links a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  height: 24px;
}

nav #nav-check {
  display: none;
}

footer{
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  width: 100%;
}

footer #icons{
  /* border: solid 2px red; */
  display: flex;
  justify-content: center;
  padding: 0 0 20px 0;
  margin-top: 7.5%
}

footer #icons a{
  transition: 0.2s;
}

footer #icons:hover > a {
  opacity: 0.5;
}

footer #icons:hover > a:hover {
  opacity: 1.0;
}

footer img{
  padding: 0 5px;
  height: 30px;
}

.header {
  text-align: center;
  padding: 32px;
}

/* Create four equal columns that sits next to each other */

/* .row::after {
  content: "";
  clear: both;
  display: table;
} */

.column{
  margin-top:20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border: solid 2px blue;
}

.column img{
  border: solid 2px red;
  padding: 20px;
  width: 33.33%;
  height: 100%;

}

/* .top{
  margin-top: -10%;
} */

#top-outline{
  box-sizing: border-box;
  padding: 0 11%;
}

#top{
  background-color: white;
  width: 100%;
  height: 30vh;
  border: solid 2px red;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column img{
    float: left;
    width: 50%;
    padding: 10px 20px;
  }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column img{
    width: 100%;
    padding: 10px 20px;
  }

    body::-webkit-scrollbar {
      display: none;
    }

    body {
      overflow-x: hidden;
    }


    nav #nav-button {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }

    nav #nav-button label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }

    nav #nav-button label:hover, .nav #nav-check:checked ~ #nav-button label {
    background-color: rgba(0, 0, 0, 0.3);
    height: 25px;
    }

    nav #nav-button label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    }

    nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    }

    nav .nav-links a {
    display: block;
    width: 100%;
    }

    nav #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }

    nav  #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
}
