nav {
    z-index: 4;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: #C4C4C4;
    height: 90px;
    /* border-bottom: solid 1px #B3B3B3; */
    /* box-sizing: border-box; */

    top: 0;
    position: sticky;
}

nav ul {
    padding-left: 0;
    list-style: none;    
    padding: 40px;
}

nav li{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

#logo{
    padding-left: 40px;
    max-width: 60px;
    height: auto;
}

#nav-links #active{
    color: #18A0FB !important; 
    font-weight: 600;
}

#nav-links a {
    color: black;
    text-decoration: none;
}

/* Menu elements - work, about, resume */
#menu-wrapper #menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#menu-wrapper #menu li a{
    transition: 0.5s ;

}
#menu-wrapper #menu  li a:hover {
    color: #18A0FB;
    border-radius: 5px;
}

#menu-wrapper #menu li {
    padding: 5px 14px;
}

/* Checkbox hack */
input[type=checkbox]{
    display: none;
} 

/*Hamburger*/
#hamburger, #close{
    display: none;
    font-size: 48px;
    user-select: none;
}

#close{
    z-index: 5;
    display: none;

    color: white;
    position: absolute;
    top: 12px; 
    right: 44px;

    /* box-sizing: border-box;
    border: solid 2px blue; */
}


@media screen and (max-width: 600px) {  
    #menu-wrapper { 
        /* hides the content until button is clicked */
        display: none;

        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        right: 0;
        left: 0;
        top:0;
        text-align: center;
        /* padding: 20px 0; */
        /* margin-top: 10px; */
        height: 100vh;   
    }

    #menu-wrapper #menu li{
        padding: 12px;
    }

    #menu-wrapper #menu li a {
        color: white;    
    }

    #hamburger {
        display: block;

    }

    /* When hamburger clicked */
    input[type=checkbox]:checked ~ #menu-wrapper {

    /* .show{ */
        display: flex;
        justify-content: center;
        align-items: center;     
    }

    
    /* Styling for inner content when checkbox is clicked */
    input[type=checkbox]:checked ~ #menu-wrapper #menu {
        display: flex;
        flex-direction: column;
    }


    /* Removes hamburger menu  */
    input[type=checkbox]:checked ~ #hamburger {
        display: none;
    }

    /* Brings in the X button menu  */
    input[type=checkbox]:checked ~ #close {
        display: block;
    }
}