/* Footer */

footer #footer-content{
    z-index: 2;
    /* background-color: #18A0FB; */
    background-color: transparent;
    color: black;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: 26px;
    padding:   64px 24px 64px 24px ;
    /* max-width: */
    max-width: 1200px;

}

footer p{
    margin: 0;
}

footer a{
    color: #595959;
    margin: 0;
}


footer a:visited{
    color: #595959;
    text-decoration: underline !important;
 }


footer ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
}

footer ul li{
    display: inline-block;
    list-style: none;
}


#line{
    margin: auto;
    text-align: center;
    background-color: #E3E3E3;
    
    /* bc div within div */
    max-width: 1200px;
    width: 100%;
    height: 1px;
    /* display: none; */
}

@media only screen and (max-width: 768px) {
    #line{
        max-width:calc(100% - 48px);
    }

    /* footer #footer-content{
        flex-direction: column;
    }

    #footer-content{
        flex-direction: column;
    } */

    footer ul{
        flex-direction: column;
        padding: 0px;
        gap: 8px;
    }
}