/* nav {
    background-color: black;
} */
a{
    text-decoration: none;
    color: #346DFF;
}

a:visited{
    color: #346DFF;
}

.callout{
    background-color: #346DFF;
}

.music{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    /* width: 1920px; */
}

.content-wrapper{
    /* max-width: 1920px !important; */
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    /* border: 2px red solid; */
    margin: auto;
}

h2{
    text-align: left;
}


.music > div > video{
    /* max-width: 490px; */
    max-height: 390px;
    /* min-width: 200px; */
    height: 100%;
    width: 100%;
}

/* .music{
    border: solid 2px blue;
    box-sizing: content-box;
}

.music > img {
    max-height: 390px;
    border: solid 2px red;
    box-sizing: border-box;
} */

/* Full width videos */
.music > div > .full{
    max-width: 100%;
    /* width: 1920px; */
    max-height: 100%;
}

/* Section Description */
.project-description, .project-description > p{
    /* border : solid 2px red;  */
    max-width: 100% !important;
}

/* Project descriptions */

.music > div > p{
    margin-top: 0px;
    /* font- size: 14px; */
    text-align: center;
    /* max-width: 390px; */
    max-width: 390px;
}

.music > .full > p {
    /* margin: 0 50px; */
    max-width: 100%;
}

@media only screen and (max-width: 834px){
    .content-wrapper {
        margin: 0px 50px;
    }
}
/* 
@media screen and (max-width: 600px){
    footer {
        height: 240px;
        margin-top: 0px !important;
    }
} */

.subtitle{
    width: 100%;
    text-align: center;
}

footer{
    margin-top: 100px;
}