nav {
    z-index: 3;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: white;
    color: #C4C4C4;
    height: 90px;
    /* border-bottom: solid 1px #B3B3B3; */
    /* box-sizing: border-box; */

    top: 0;
    position: sticky;
}

nav li{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

#nav-links #active{
    color: #18A0FB !important; 
    font-weight: 600;
}

#nav-links a {
    color: black;
    text-decoration: none;
}

/* Menu elements - work, about, resume */
#menu {
    display: flex;
    gap: 20px;
}

#menu li a{
    transition: 0.5s ;

}
#menu li a:hover {
    color: #18A0FB;
    border-radius: 5px;
}

#menu li {
    padding: 5px 14px;
}

/* Checkbox hack */
input[type=checkbox]{
    display: none;
} 

/*Hamburger*/
#hamburger {
    display: none;
    font-size: 48px;
    user-select: none;
}


@media screen and (max-width: 600px) {
#menu { 
    display:none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    /* background-color: #18A0FB; */
    right: 0;
    left: 0;
    text-align: center;
    padding: 20px 0;
    margin-top: 10px;
}
    #menu li{
        padding: 12px;
    }

    #menu li a {
        color: white;    
    }
    
    input[type=checkbox]:checked ~ #menu{
        display: block;
    }
    
    #hamburger {
        display: block;
    }
}