body{
    overflow-x: hidden;
    margin: auto;
    font-family: Poppins;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

h3, li{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: -8px;
}

a{
    text-decoration: none;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

ul {
    padding-left: 0;
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

#heading, #experience-values, #hobbies-polaroids{
    width: 1040px;
    margin: auto;
    margin-bottom: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#heading-content-wrapper{
    width: 480px;
    display: flex;
    align-items: center;

    /* border: solid 2px red;
    box-sizing:border-box; */
}

#name{
    color:black;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
}

/* Experience */
#experience-values #experience {
    width: 520px;
}

#experience-values #experience .job-title {
    margin: 24px 0px 0px 0px;
}


#experience-values #experience .job-title .company-name{
    color: #18A0FB;
}

/* Values */
#experience-values #values{
    width: 450px;
}


/* Hobbies and Polaroids */
#hobbies-polaroids {
    margin-top: 144px;
    position: relative;

    /* border: solid 2px purple;
    box-sizing: border-box; */
}

/* Hobbies */
#hobbies-polaroids #hobbies{
    width: 356px;
}

#hobbies-polaroids #hobbies ul li{
    margin: 24px 0;   
}

/* Polaroids */
#hobbies-polaroids #polaroids{
    z-index: 2;
    position: absolute;
    right: -359px;
    top: -40px;

    width: 100%;
    height: auto;

    /* border: solid 2px red;
    box-sizing: border-box;  */
}

/* Footer */
footer{
    z-index: 1;
    background-color: #18A0FB;
    height: 200px;
    width: 100%;
    color: white;
}

#footer-content {
    display: flex;
    flex-direction: column;
    width: 1040px;
    margin: auto;
}

footer a {
    text-decoration: none;
}

footer #footer-content{
    display: flex;
    flex-direction: column;        
    gap: 26px;
}

footer  #footer-content p{
    margin-bottom: 0px;
}

footer #footer-content p:last-child {
    text-align: center;
    margin-top: 0px;
}

footer ul{
    margin: 0px;
}

footer ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    height: 20px;
    width: 20px;
}

footer ul li:first-child{
    margin-left: 0px;
}

footer #line{
    margin: auto;
    text-align: center;
    background-color: white;
    max-width: 1040px;
    height: 1px;
}

@media screen and (max-width: 600px) {
    #heading, #experience-values, #hobbies-polaroids{
        flex-direction: column;
        justify-content: center;
        width: 300px;
        gap: 80px;
    }

    #hobbies-polaroids{
        margin-top: 0px;
    }

    #hobbies-polaroids #polaroids{
        position: relative;
        right: 0px;
        top: 0px;
    }

    #heading-content-wrapper, 
    #experience-values #experience, 
    #experience-values #values, 
    #hobbies-polaroids #hobbies, 
    #profile-picture, 
    footer #line{
        width: 300px;
    }

    footer{
        height: 220px;
    }

    footer #footer-content{
        text-align: center;
        width: 300px;
    }
  }