a{
    text-decoration: none;
    color: #346DFF;
}

a:visited{
    color: #346DFF;
}

.callout{
    background-color: #346DFF;
}

/* Circles */
.circle{
    background: #346DFF;
    box-shadow: 0px 0px 100px #346DFF;
}

/* Sets the COVID Test image larger to fill the title screen ~100vh */
#title-image {
    padding: 100px 0;
    /* border: solid 2px orange; */
}


/* WIDTH is less than 900 */
@media only screen and (max-width: 768px) {
    .preview{
        height: auto;
        padding:  50px 50px;
    }
}