@charset "UTF-8";
/* CSS Document */

@font-face{
  font-family:'ProximaNovaExCn-Bold';
  src:url(ProximaNovaExCn-Bold.woff) format('woff');
  font-weight:normal;font-style:normal;
}

@font-face{
  font-family:'ProximaNovaExCn-Semibold';
  src:url(ProximaNovaExCn-Semibold.woff) format('woff');
  font-weight:normal;font-style:normal;
}
