:root{
    --custom-salesforce-blue: #009edb;
}

a{
    text-decoration: none;
    color: var(--custom-salesforce-blue);
}

a:visited{
    color: var(--custom-salesforce-blue);
}

.callout{
    background-color: var(--custom-salesforce-blue);
}


#title-content-wrapper{
    gap:10%;
}

/* #title-content-wrapper h1{
    font-size: 40px;
}

#project-preview{
    width: auto;
    max-height: 80%;
} */

#button{
    background-color: var(--custom-salesforce-blue);
    border: solid #117CAD;
}

#button:hover{
    background-color: White;
    color: var(--custom-salesforce-blue);
    border: solid white
}


#title{
    color: white;
    background-image:
    url("img/salesforce/overview-new-resized.jpg");  
    background-size: cover;  
    /* background-image: linear-gradient(rgb(17, 124, 173, 0.8), 
    rgb(17, 124, 173, 0.8)), 
    url("img/salesforce/overview-new-resized.jpg"); */
}

/* Sidebar colors */
.sidebar-menu a:hover {
    color: var(--custom-salesforce-blue);
}

.sidebar-menu a.active {
    color: var(--custom-salesforce-blue);
}

.sidebar-menu a.active::before {
    background-color: var(--custom-salesforce-blue);
}

.sidebar-menu a:hover::before {
    background-color: var(--custom-salesforce-blue);
}
