a{
    text-decoration: none;
    color: #009edb;
}

a:visited{
    color: #009edb;
}

.callout{
    background-color: #009edb;
}

/* Circles */
.circle{
    background: #009edb;
    box-shadow: 0px 0px 100px #009edb;
}

#title-content-wrapper{
    gap:10%;
}

#title-content-wrapper h1{
    font-size: 40px;
}

#project-preview{
    width: auto;
    max-height: 80%;
}

#button{
    background-color: #117CAD;
    border: solid #117CAD;
}

#button:hover{
    background-color: White;
    color: #117CAD;
    border: solid white
}


#title{
    color: white;
    background-image: linear-gradient(rgb(17, 124, 173, 0.8), 
    rgb(17, 124, 173, 0.8)), 
    url("img/salesforce/overview-new-resized.jpg");
}

