a{
    text-decoration: none;
    color: #1dd05d;
}

a:visited{
    color: #1dd05d;
}

.callout{
    background-color: #1dd05d;
}

/* Circles */
.circle{
    background: #1dd05d;
    box-shadow: 0px 0px 100px #1dd05d;
}

#title-content-wrapper{
    gap:10%;
    /* Allows for the two items to breathe  */
    width: 100%;
}

#project-preview{
    display: none;
}


@media only screen and (max-width: 1440px){
    #title-content {
        width: 100%;
    }

    video{
        max-height: 100%;
    }
}

/* WIDTH is less than 900 */
@media only screen and (max-width: 900px) {
    .preview > video{
        display: none;
    }
    #project-preview{
        display: block;
        max-height: 60%;

    }
}

@media only screen and (max-width: 420px) {
    .final-prototype{
        display: none;
    }
}