a{
    text-decoration: none;
    color: #1dd05d;
}

a:visited{
    color: #1dd05d;
}

.callout{
    background-color: #1dd05d;
}

/* Circles */
.circle{
    background: #1dd05d;
    box-shadow: 0px 0px 100px #1dd05d;
}

/* WIDTH is less than 900 */
@media only screen and (max-width: 900px) {
    video{
        width: 300px;
    }
}