@font-face {
    font-family: 'ZT Formom';
    src: url('fonts/zt-formom-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }


:root{
    --custom-blue: #18A0FB;
}

body {  
    margin: 0 auto;
    display: flex;
    /* gap: 64px; */
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    background-color: #ffff;
}

.selected-work {
    /* padding: 20px; */
    /* max-width: 1080px; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}


h1 {
    font-family: 'ZT Formom';
    font-size: 48px;
    font-style: oblique;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.25;
    margin: 0;
    /* Improve rendering across OSes */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

h2{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
}

h3{    
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
}

h4{
    font-size: 14px;
    line-height: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #595959;}

p{
    color: #595959;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.tag{
    font-size: 14px;
    line-height: 20px;
    background-color:#f4f4f4;
    /* border: solid 1px black; */
    border-radius: 8px;
    padding: 12px;
    padding-top: 4px;
    padding-bottom: 4px;   
    text-align: center;
    color: #595959;
}

.tag-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    /* border: solid 2px red; */
}

.work-grid {
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
    column-gap: 24px;
    row-gap: 48px;
}

/* .work-grid:last-child{
    margin-top: 28px;
} */

.case-study{
      flex: 1 0 33%;
}

.case-study a{
    /* color: #666;
    background-color: #f9f9f9; */
    /* border-radius: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; */
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.case-study-text{
    display: flex;
    flex-direction:column;
    gap: 8px;
}


.case-study-details{
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 12px;
    /* justify-content:space-between; */
    /* border:solid 2px red; */        
    height: auto;
}


.image-placeholder-wrapper {
    overflow: hidden;
    border-radius: 8px;
}

.image-placeholder {
    position: relative;
    background-color: #e0e0e0;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image-placeholder video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* margin: auto; */
}

.more-work {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.more-work.visible {
    display: block;
    opacity: 1;
    transform: translateY(0);
    margin-bottom: 36px;
}

.toggle-button {
    cursor: pointer;
    color: black;
    text-decoration: none;
    margin: 0 0 24px 0;
}

.toggle-button a{
    color: var(--custom-blue);
}


.case-study:hover .image-placeholder {
    transform: scale(1.05);
}



/* Specific sizing for the grid items */
.case-study:nth-child(1),
.case-study:nth-child(4),
.case-study:nth-child(5),
.case-study:nth-child(8) {
    grid-column: span 3;
}

.case-study:nth-child(2),
.case-study:nth-child(3) 
.case-study:nth-child(6) 
.case-study:nth-child(7) {
    grid-column: span 2;
}

/* 16: 9 Horizontal */
.case-study:nth-child(1) .image-placeholder,
.case-study:nth-child(4) .image-placeholder,
.case-study:nth-child(5) .image-placeholder,
.case-study:nth-child(8) .image-placeholder {
    /* max-height: 600px; */
    width: auto;
    aspect-ratio: 1 / 1;
        /* height: auto; */
}

/* square items */
.case-study:nth-child(2) .image-placeholder,
.case-study:nth-child(3) .image-placeholder,
.case-study:nth-child(6) .image-placeholder,
.case-study:nth-child(7) .image-placeholder {
    /* max-height: 100%; */
    width: auto;
    aspect-ratio: 1 / 1;
}




#content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 1200px;
    /* max-width: 1080px; */
    /* Account for 24px on each side. 48px total */
    width: calc(100% - 48px); 
    margin: 0 auto;
    /* padding: 0 48px; */
    box-sizing: border-box;

    /* need to keep this so the scroll bar doesnt appear when the more work section is open */
    overflow-y: hidden;
    margin-bottom: 64px;
}

/* Header */
#heading-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 64px;
}

#heading{
    /* align-items: center; */
    /* display: flex; */
    margin: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#profile-image{
    max-width: 50%;
    /* height: 300px; */
    /* width: 100%; */
        /* border: solid 2px rosybrown; */
}

#profile-image img{
    margin: auto 0;
    /* border: solid 2px red; */
}

#home-name{
    display: flex;
    flex-direction: column;
    gap: 28px;
    /* border: solid 2px red; */
    width: 50%;
}


.profile-name {
    font-family: 'ZT Formom';
    font-size: 64px;
}


  .profile-title {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 28px;
    font-weight: 500;
    line-height: 1.5;
    /* width: 80%; */
  }

  .profile-title span{
    font-weight: 300;
  }

/* 
  .profile-meta {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  .profile-meta a {
    text-decoration: underline;
    color: black
  } */


  /* Selected Work */

  /* salesforce */
#salesforce .image-placeholder{
    background-image: url("img/salesforce/overview-new-resized.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;        
}

/* find my covid test */
.case-study:nth-child(1) .image-placeholder{
    background-color: #D6EBFF;   
}

/* 45 Fremont */
.case-study:nth-child(4) .image-placeholder{
    background-image: url("45fremont.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #FFD494;  
}

/* Spotify Rooms */
.more-work-item:nth-child(2) .image-placeholder{
    /* background-image: url("img/case-studies/spotify.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FDF7EF;
        aspect-ratio: 1 / 1;
}

/* PlayTest */
.more-work-item:nth-child(4) .image-placeholder{
    /* background-image: url("img/playtest/overview.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* media queries */

@media (max-width: 768px) {

.case-study{
      flex: 1 0 100%;
}

    .profile-name {
        font-size: 48px;
    }

    .profile-title{
        font-size: 20px;
    }

    #heading-wrapper{
        flex-direction: column;
        /* margin: 0px; */
    }

    #heading{
        margin: 0px;
        width: 100%;
    }

    #profile-image{
        display: none;
    }

    #home-name{
        width: 100%;
        /* justify-content: center; */
    }

    /* #content-wrapper {
        width: calc(100% - 48px);
        padding: 0 24px;
    } */
    
    .work-grid {
        grid-template-columns: 1fr;
        /* gap: 64px; */
    }

    .case-study:nth-child(1),
    .case-study:nth-child(4) {
        grid-column: span 1;
    }

    .case-study:nth-child(2),
    .case-study:nth-child(3) {
        grid-column: span 1;
    }
    /* .work-item {
        grid-column: span 1;
    }
     */

}

/* MOBILE */
@media (max-width: 480px) {

    /* .case-study{
      flex: 1 0 100%;
} */
    .case-study-details{
        height: auto;
        width: auto;
        flex-wrap: wrap;
    }
    .image-placeholder-wrapper{
        min-height: 288.8px;
        height: 100%;
        min-width: 288.8px;
        width: auto; 
        aspect-ratio: 1; 
        /* margin: 0 auto; */
/* object-fit: contain; */
    }
    /* .image-placeholder-wrapper{
        height: 200px;
    } */
}




