html, body{
    overflow-x: hidden;
}

body{
    margin: auto;
    font-family: Poppins;
}

h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

h3, li{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: -8px;
}

a{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
}

ul {
    padding-left: 0;
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}


#heading-wrapper, #experience-values, #hobbies-polaroids{
    max-width: 1080px;
    margin: auto;
    margin-bottom: 80px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    /* border: solid 2px red; */
}

#heading-wrapper{
    margin-top: 80px;
}


#heading{
    width: 480px;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* border: solid 2px orange; */
    /* box-sizing:border-box; */
}

#profile-picture{
    max-width: 100%;
    height: auto;

    /* Matches to 480px = 450px + 30px padding to match the case study pics */
    /* padding: 0px 15px; */
}


#heading-wrapper #heading #home-name {
    width: 480px;
}

#heading-wrapper #heading #home-name p{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
}

#heading-wrapper #heading #home-name a{
    color: black;
    font-weight: 600;
}

#heading-wrapper #heading  #home-name #about{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 48px;
    color: #18A0FB;
}



#heading-wrapper #heading #name{
    color:black;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 32px;
}

/* #case-studies-wrapper{
    flex-direction: column;
} */


/* #case-studies-wrapper #case-studies{ */
    /* height: auto;
    max-width: 1040px;
    margin: auto;
    margin-bottom: 80px; */
/* 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; */
    /* Allows for content to be centered */
    /* justify-content: space-around; */
    
    /* border: solid 2px red; */
    /* box-sizing: border-box; */
/* } */



/* Generic headers for both Home and About */
#case-studies{
    max-width: 1080px;
    margin: auto;
    margin-bottom: 80px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* border: solid 2px blue; */
}



#case-studies .case-study-card{
    max-width: 480px;
    height: auto;
    width: 100%;
    text-align: center;

    /* border: solid 2px red; */
    /* box-sizing: border-box; */
}

#case-studies .case-study-card img{
    transition: all .3s ease-out;
}

#case-studies .case-study-card img:hover{
    transform: scale(0.96);
}


 #case-studies .case-study-card:nth-child(even) {
    margin-top: 128px;

    /* border: solid 2px blue; */
    /* box-sizing: border-box; */
}   

 #case-studies .case-study-card a img{
    max-width: 100%;
    height: auto;
}

 #case-studies .case-study-card p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #B2B2B2;
}


/* About page */

/* Experience */
#experience-values #experience {
    width: 480px;
}

#experience-values #experience .job-title {
    margin: 24px 0px 0px 0px;
}


#experience-values #experience .job-title .company-name{
    color: #18A0FB;
}

/* Values */
#experience-values #values{
    width: 480px;
}




/* Hobbies and Polaroids */
#hobbies-polaroids {
    margin-top: 144px;
    position: relative;

    /* border: solid 2px purple;
    box-sizing: border-box; */
}

/* Hobbies */
#hobbies-polaroids #hobbies{
    z-index: 3;
    width: 480px;
}

#hobbies-polaroids #hobbies ul li{
    margin: 24px 0;   
}

/* Polaroids */
#hobbies-polaroids #polaroids{
    z-index: 2;
    position: absolute;
    right: -400px;
    top: -100px;

    width: 100%;
    height: auto;

    /* border: solid 2px red;
    box-sizing: border-box;  */
}

/* Allows for the polaroid effect to cut off and overflow properly :) */
#hobbies-polaroids #invisible{
    height: 1px; 
    width: 480px;
}

/* Footer */
footer{
    z-index: 1;
    background-color: #18A0FB;
    height: 200px;
    width: 100%;
    color: white;
}

footer a {
    text-decoration: none;
}

footer #footer-content {
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: auto;
    gap: 26px;
}

footer  #footer-content p{
    margin-bottom: 0px;
}

footer  #footer-content p:first-child{
    margin-top: 25px;
}

footer #footer-content p:last-child {
    text-align: center;
    margin-top: 0px;
}

footer ul{
    margin: 0px;
}

footer ul li{
    display: inline-block;
    list-style: none;
    margin-left: 20px;
    height: 20px;
    width: 20px;
}

footer ul li:first-child{
    margin-left: 0px;
}

#line{
    margin: auto;
    text-align: center;
    background-color: white;
    
    /* bc div within div */
    max-width: 1080px;
    width: 100%;
    height: 1px;
}

@media screen and (max-width: 600px) {
    #heading-wrapper, #experience-values, #hobbies-polaroids{
        flex-direction: column;
        justify-content: center;
        width: 300px;
        gap: 80px;
    }

    #hobbies-polaroids{
        margin-top: 0px;
    }

    #hobbies-polaroids #polaroids{
        /* position: relative; */
        /* right: 0px; */
        /* top: 0px; */

        right: 0px;
        top: 500px;
    }

    #heading-wrapper,
    #heading-wrapper #heading,
     
    #case-studies,
    
    #profile-picture, 

    #experience-values #experience, 
    #experience-values #values, 
    
    #hobbies-polaroids, 
    #hobbies-polaroids #hobbies,
    
    footer #line{
        width: 300px;
    }

    footer{
        height: 220px;
    
        /* So polaroid image doesnt look off */
        margin-top: 180px;
    }

    footer #footer-content{
        text-align: center;
        width: 300px;
    }
  }