a{
    text-decoration: none;
    color: #FF614C;
}

a:visited{
    color: #FF614C;
}

.callout{
    background-color: #FF614C;
}

/* Circles */
.circle{
    background: #FF614C;
    box-shadow: 0px 0px 100px #FF614C;
}

#project-preview{
    height: 50vh;
    width: 100%;
    background-image:url("img/toybox/search/v3-deliverables/overview-banner.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
}

#title-content-wrapper h1{
    font-size: 40px;
}

#project-preview{
    width: auto;
    max-height: 80%;
}

.research-callout{
    align-items: flex-start;
}

/* .section-image > video{
    width: 90%;
} */

ul li{
    font-size: 14px
}

/* #research{
    background-color: #F4F4F4 ;
} */


#title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), 
    rgba(0, 0, 0, 0.8)), 
    url("img/toybox/search/v3-deliverables/overview-banner.jpeg");
}


/* Less than 768px */
@media only screen and (max-width: 768px) {
    .preview{
        height: auto;
        padding:  50px 0px;
    }
}

video{
    box-shadow: 10px 1px 39px 0px rgba(0,0,0,0.3);
-webkit-box-shadow: 10px 1px 39px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 10px 1px 39px 0px rgba(0,0,0,0.3);
}