
.column img {
  margin-top:0;
}

.column > .description > h1{
  padding-top: 25%;
}

.column > .description > p{
  padding: 10% 0;
}

footer #icons{
  padding: 0 0 20px 0;
  /* border: solid 2px black; */
}

@media screen and (max-width: 1700px) {
  .column img {
    margin-top:20px;
  }
}

@media screen and (max-width: 1200px) {
  footer #icons{
    padding: 40px 0 20px 0;
    /* border: solid 2px black; */
  }

  .column {
    margin-top:5%;
    padding: 0 15px;
    flex: 50%;
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .column > .description > h1{
    padding-top: 30%;
  }

  .column {
    padding: 0 15px;
    flex: 100%;
    max-width: 100%;
  }
}
