body{
  overflow-y: hidden;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex: 100%;
  max-width: 50%;
}

.column img {
  margin-top:0;
}


.column > .description > h1{
  padding-top: 10%;
}


footer #icons{
  padding: 0 0 20px 0;
  /* border: solid 2px black; */
}

@media screen and (max-width: 1200px) {
  body{
    overflow-y: scroll;
  }


  footer #icons{
    padding: 40px 0 20px 0;
    /* border: solid 2px black; */
  }

  .column {
    padding: 0 15px;
    flex: 100%;
    max-width: 100%;
  }

  #image {
    width: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width:700px) {
  .column {
    padding: 0 15px;
    flex: 100%;
    max-width: 100%;
    margin-top: 50px;
  }

  #image{
    padding: 0 20px;
  }
}
