
.two{
  /* border: solid 2px green; */
  max-width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

.two > a {
  text-decoration: none;
}

.two a h2{
  font-size: 20px;
  margin-bottom: 0;
  padding: 0;
}

.two > a >img {
  max-width: 45%;
  /* margin-right: 100px; */
}


ol{
  text-align: left;
}

.column > .description > h1{
  padding-top: 10%;
}

#sub-heading{
  font-size: 15px;
}

.projects > li> a{
  /* text-decoration:  none; */
  font-weight: 900;
  font-size: 20px;
}





footer #icons{
  padding: 0 0 20px 0;
  /* border: solid 2px black; */
}


@media screen and (max-width: 1500px) {
  .two > a > img{
    max-width: 60%;
    /* margin-right: 100px; */
  }
}



@media screen and (max-width: 1200px) {
  body{
    overflow-y: scroll;
  }


  footer #icons{
    padding: 40px 0 20px 0;
    /* border: solid 2px black; */
  }

  .column {
    padding: 0 15px;
    flex: 100%;
    max-width: 100%;
  }

  .two > a > img{
    max-width: 100%;
  }
}

@media screen and (max-width: 900px) {

  .two{
    padding: 0 20px;
    margin: 0;
  }

  .two img{
    /* border: solid 2px red; */
    /* margin: 0; */
    padding-top: 0px;
    /* margin: 10px; */
  }
}


@media screen and (max-width:700px) {
  .column {
    padding: 0 15px;
    flex: 100%;
    max-width: 100%;
    margin-top: 50px;
  }

  .two{
    margin: 0;
  }
}
