.wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#process-book {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  flex: 100%;
  max-width: 50%;
}

#process-book-image{
  display: none;
}

.column > .description > h1{
  padding-top: 10%;
}

.column img {
  margin-top:0;
}

footer #icons{
  padding: 0 0 20px 0;
  /* border: solid 2px black; */
}

#hidden{
  display: none;
}

#process-book-image{
  display: none;
}

@media screen and (max-width: 1200px) {

  footer #icons{
    padding: 40px 0 20px 0;
    /* border: solid 2px black; */
  }

  .wrapper{
    padding: 20px;
  }

  .column {
    padding: 0 15px;
    flex: 100%;
    max-width: 100%;
  }

  #process-book {
    width: 100%;
    flex: 100%;
    max-width: 100%;
    padding: 0 20px;
    margin: 0;
  }
}

@media screen and (max-width:700px) {
  .column {
    padding: 0 15px;
    flex: 100%;
    max-width: 100%;
    margin-top: 50px;
  }

  #hidden{
    display: block;
  }

  #process-book-pdf{
    display: none;
  }

  #process-book-image{
    display: block;
  }
}
