body{
    font-family:arial;
  }
  #wrapper{
    height: 700px;
    width: 500px;
  /*   display: flex; */
  /*   margin: auto 0; */
    border: solid 2px black; 
  }
  
  
  /* on initial start up*/
  #player, #login-home, #playlist-view{
    display:none;
  }
  
  #player-wrapper{
    display:flex;
    justify-content:center;
    flex-direction:column;
    margin: auto 0;
    text-align: center;
  }

  #player{
    padding: 20px;
  }

  #current-track {
    display:flex;
    justify-content:center;
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    transform: rotate(360deg);
    animation: spin 10s linear infinite;
  }
  
  #current-track-wrapper{
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 19px 13px -8px rgba(0,0,0,0.15);
  }
  
  #buttons{
    padding-top:10%;
  }
  
  #buttons > button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  /*   background-color:red; */
  }
  
  @keyframes spin {
    0% {
      transform: rotateZ(0);
    }
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  #users-playlists-wrapper{
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  
#users-playlists-wrapper img {
  width: 210px;
  height: 210px;
  display: inline-block;
  padding: 10px;
}

  
#playlist-view{
  height: 700px;
  overflow: scroll;
}
